<div class="project">
	<div class="container">
	

		<%= form_for(@project, :url => {:action => 'update'}) do |f| %>		
			<%= f.text_field :title %>
			<%= f.text_field :description %>
			<br><br>
			<%= f.file_field :image %>
			<%= f.submit "Update", class: "btn btn-success" %>
		<% end %>

	</div>
</div>