<%= form_for(@project) do |f| %>
	<div class="field">
		<%= f.text_area :title, :placeholder => "Title" %><br>
		<%= f.text_area :description, :placeholder => "Description" %><br><br>
		<%= f.file_field :image %><br>
	</div>
	<div class="action">
		<%= f.submit "Create", class: "btn btn-success" %>
	</div>
<% end %>